.mainBox{
    width: min(90vw , 1200px);
    border: 1px solid rgb(216, 212, 212);
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container input{
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(216, 212, 212);
    color: rgb(163, 162, 160);
    border-radius: 5px;
}
.mainBox h1{
    margin: 20px;
}
.pasteBox{
    margin: 20px;
    border: 1px solid rgb(216, 212, 212);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 100px;
}
.infoArea {
    max-width: 50%;
}
.infoArea h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.infoArea p{
    color: rgb(182, 181, 180);
    font-size: smaller;
}
.icons{
    color: black;
    &:hover{
        color: rgb(49, 49, 243);
    }
}
.button {
  padding: 0.5rem;           
  background-color: white;      
  border: 1px solid #c7c7c7; 
  transition: all 0.2s ease; 
  border-radius: 5px;  
}

.button:hover {
  background-color: transparent;  
  border-color: #3b82f6;         
}
.fontArea{
    display: flex;
    gap: 10px;
}
.buttonArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.buttonArea small{
    align-self: flex-end;
}
